@import "tailwindcss";

@theme {
  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-border: var(--color-border);
  --color-text: var(--color-text);
  --color-muted: var(--color-muted);
  --color-primary: var(--color-primary);
  --color-primary-soft: var(--color-primary-soft);
  --color-accent: var(--color-accent);

  --radius-lg: var(--radius-lg);
}


:root {
  --color-bg: #020617;
  --color-surface: #0b1120;
  --color-border: #1f2937;
  --color-text: #f9fafb;
  --color-muted: #9ca3af;
  --color-primary: #fbbf24;
  --color-primary-soft: #fef3c7;
  --color-accent: #facc15;
  --radius-lg: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-bg text-text antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}